<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> African Animals </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')  }}">
</head>
<body>

<div id='container'>

<h1> African Animals </h1>

<div id='flex'>
  <div id='text'>
<p> Click on any animal to learn more about it! </p>

  <ul>
  {% for item in list %}
      <li><a href="{{ url_for( 'animals', num=item['id'] ) }}">{{ item['name'] }}</a></li>
  {% endfor %}
  </ul>
  </div>

<div id='photo'>
<img class="right" src="{{ url_for('static', filename='images/map.png')  }}">
<p id='att'><a href="https://commons.wikimedia.org/wiki/File:Topography_of_africa.png">Map of Africa: Public Domain, NASA </a></p>
</div>

</div>

</div>


</body>
</html>
